[flake8]
max-line-length = 127
exclude = 
    .git,
    __pycache__,
    */migrations/*,
    */venv/*,
    */env/*,
    htmlcov,
    .pytest_cache,
    node_modules
ignore = 
    E203, 
    E501,
    W503 
max-complexity = 10